body {
    background-color: #23F0C7;
}

.navbar {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin-right: 20px;
}

.nav-link, .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    margin:0 2%;
}

#part1 {
    margin-top: 7%;
}

.container {
    max-width:80%;
}

.big-text {
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    font-size: 5rem;
    color:white;
    padding:5% 0;
}

.card {
    margin-top: 3%;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn-primary {
    background: #48466d;
}

.btn-primary:hover {
    background: black;
    transition: 0.5s;
}

footer {
    background-color: #2ecfaf; 
    color: #fff;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 5%;
    font-size: 1.25rem;
}

.footer-text {
    padding-top: 3%;
}


.Portrettfoto {
    transition: transform .2s;
}


.Portrettfoto:hover {
transform: scale(1.5);
}

.Potrettfoto-Ram {
    cursor: pointer;
    border-radius: 100%;
    height: 70px;
    margin-right: 2%;
}

.Potrettfoto-Kasper {
    cursor: pointer;
    border-radius: 100%;
    height: 70px;
}


.Potrettfoto-Tor {
    border-radius: 100%;
    margin-left: 2%;
    height: 70px;
} 

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    color: blue;
    transition: 0.5s;
}

