body {
    background-color: #23F0C7;
}

.navbar {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-decoration: none;
}

#part1 {
    margin-top: 7%;
}

.container {
    max-width:80%;
}

.big-text {
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    font-size: 5rem;
    color:white;
    padding:5% 0;
}

.card {
    margin-top: 3%;

}
