/*
Max-width for website content
*/

.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  

  /*
Alignment dices
  */
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
/*
Background color
*/

  body {
    background-color: #393E46;
  }
  
  /*
Refresh me text
  */
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }

.btn-success {
    display:block;
    margin:auto;
    background:rgb(82, 235, 176);
    border-radius: 7px;
    height:30px;
}
